.App {
  align-content: center;
}

button {
  padding: 30px;
}

#button1 {
  border-right: black;
  border-bottom: black;
  border-style: solid ;
}

#button2 {
  border-bottom: black;
  border-style: solid;
}

#button3 {
  border-left: black;
  border-bottom: black;
  border-style: solid ;
}

#button4 {
  border-right: black;
  border-style: solid ;
}

#button6 {
  border-left: black;
  border-style: solid ;
}

#button5 {
  background-color: white;
  border-style: none;
}

#button7 {
  border-right: black;
  border-top: black;
  border-style: solid;
}

#button8 {
  border-top: black;
  border-style: solid;
}

#button9 {
  border-left: black;
  border-top: black;
  border-style: solid;
}

button {
  margin: -2px;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: darkgray;
}

#button5:hover {
  background-color: lightgray;
}

#button5:active {
  background-color: darkgray;
}

button:focus {
  outline:0;
}